<form action="/new" method="post">
  <input type="text" name="title" placeholder="Title"><br>
  <input type="text" name="author" placeholder="Author"><br>
  <textarea name="body" placeholder="Entry"></textarea><br>
  <input type="text" name="tags" placeholder="tags"><br>
  <input type="submit" value="Post">
</form>
