<p>You asked for post <%= @id %></p>
<% if !@post %>
<p> That post doesn't exist, buddy.</p>
<% else %>
<p><%= @post.title %></p>
<p><%= @post.body %></p>
<%= erb :_showtags, :locals => {:post => @post} %>
<% end %>
