  <h1>Url Shortener!</h1>
  <form action="/urls" method="post">
    <input type="text" name="url">
    <% if session['email'] %>
    <input type="checkbox" name="private" value="yes">
    <% end %><br>
    <input type="submit" value="Shorten">
  </form>

<% if !@urls.empty? %>
  <p>Here are some good URLs</p>
  <ul>
  <% @urls.each do |url| %>
    <% if !url.private %>
  	 <li>
       <a href="/<%= url.short_url %>" target="_blank"><%= url.long_url %></a>
  	</li>
    <% end %>
  <% end %>
  </ul>
<% end %>
<% if session['email'] %>
<%= erb :_logged %>
<% else %>
<%= erb :_signInOptions %>
<% end %>
