<h1>Bienvenido a mi Bit.ly!</h1>
<p>Registrate</p>
<form method="post">
  <input type="text" name="username" placeholder="username"><br>
  <input type="text" name="email" placeholder="email"><br>
  <input type="password" name="password" placeholder="password"><br>
  <input type="submit" value="Enviar">
</form>
