<%= erb :_top, locals: {:user => @user} %>
<div class="entry">
<form action="/ask" method="post">
  <input class="question-title" type="text" name="title" placeholder="Question">
  <textarea name="body" placeholder="Add more details (optional)"></textarea>
  <input type="submit" value="Ask">
</form>
</div>
