<p> Here you will create a new survey! We are good.</p>
<div id="input-box">
  <input id="command" type="text">
  <button id="add-title">Add Title</button>
  <button id="add-question">Create Question</button>
  <button id="add-choice">Add Choice</button>
  <button id="save-question">Save Question</button>
</div>
<div id="result">
</div>
<div id="done">
  <button id="save-survey">Save Survey!</button>
</div>
<script src="/js/createsurvey.js"></script>
