<form action="/signin" method="post">
  <input type="text" name="username" placeholder="name">
  <input type="password" name="password" placeholder="password">
  <input type="submit" value="Submit">

</form>
