.container {
  margin: 0 auto;
  width: 768px;
}

ul {
  list-style:none;
  float:right;
}

li {
  float:left;
  margin-right:20px;
}

li a {
  text-decoration:none;
  color:white;
  font-size:1.2em;
}

.top-nav {
  background: black;
  position:fixed;
  top:0;
  width:100%;
}

.content {
  padding-top:70px;
}