<article>
    <h2>Un Post común y corriente</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
</article>

<div id="comment_area">
  <h4>Comentarios</h4>

  <ul id="comment_list">
    <li>
      Me gusta el post. No se mucho acerca de programación pero me encantaría saber más. 
      <span class="author">Juan Gomez</span>
    </li>
  </ul>


  <button id="new_comment_button">Nuevo Comentario</button>
</div>

  
