<h1>Bienvenido a Rayuela!</h1>
<p><%= @player1 %>, <%= @player2 %></p>
<div id="top">
  <button id="start-button">Start</button>
  <p id="start-timer">--</p>
</div>
<div id="board">
</div>
<div id="bottom">
  <p id="winner"></p>
  <script>
  players = ["<%= @player1 %>","<%= @player2 %>"];
  </script>
  <script src="/js/application.js"></script>

</div>
