<h1>Bienvenido a Rayuela!</h1>
<div id="top">
  <button id="start-button">Start</button>
  <p id="start-timer">--</p>
</div>
<div id="board">
</div>
<div id="bottom">
  <p id="winner"></p>
  <p id="history-link" style="display:none;"><a href="/#">Permalink to game</a></p>
  <script>
    saved = false;
    j = <%= @status %>;
    players = j['players'];
  </script>
  <script src="/js/application.js"></script>

</div>
