.container {
  margin: 0 auto;  
  width: 750px;
}

.feature {
  margin-top: 40px;
}

.feature, h3 {
  clear:both;
}

.feature {
}


.column {
  margin:0 1%;
  width:48%;
  float:left;
}
img {
  width:100%;
  margin: 60px 0;
}

.footer {
  clear:both;
}