#topbar {
  height:60px;
  background-color: black;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  border-bottom: 4px solid rgba(255, 0, 0, .5);
  font-family:Lato;
}

#topbar p {
  float:right;
  width:100px;
  padding-right:20px;
}

#topbar a, #topbar p {
  font-size:20px;
  text-decoration: none;
  color:white;
}

#topbar p.user-display {
  float:left;
  padding-left:40px;
  width:420px;
}

body {
  padding-top:60px;
  font-family:Times;
  background-color: #70b7e0;
}

.container {
  margin: 20px auto;
  width: 820px;
  padding: 0px 20px 20px 20px;
  background-color: #e0e0e0;
  border-radius:10px;
  padding:20px;
}

h1 {
  text-align:center;
  border: 2px solid black;
  padding:20px;
  background-color:white;
}

h2 {
  font-family: 'News Cycle', sans-serif;
  font-size:1.3em;
  line-height: 1.1em;
  margin-bottom:12px;
}

/*.link {
  margin-left:6px;
}*/

h2 a, .link {
  /*font-family:sans-serif;*/
  text-decoration:none;
  color:black;
  /*font-size:.8em;
  color:#bebebe;*/
}

.question .author {
  font-style: italic;
}

.question-body {
  margin-top:10px;
  padding-left: 30px;
}

.entry, form.signin {
  width:80%;
  margin: 20px auto;
  padding:5px 30px;
  border: 2px solid #eb6c3c;
  border-radius:5px;
  background-color:white;
  font-size: 1.2em;
}

form.signin {
  padding:60px;
  height:350px;
}

form.signin input {
  width:300px;
}

form.signin input[type="submit"] {
  width:150px;
}

.entry div.question {
  border-top:1px dotted gray;
  border-bottom: 2px solid black;
  padding: 10px 0;
}

.author {
  font-weight:bold;
}

.author a {
  text-decoration-style: dotted;
  color:black;
}

.answer {
  border-bottom: 1px solid black;
  margin: 20px auto;
}

.answer p {
  margin:5px 0;
  font-size:16px;
  width:80%;
}

.voter {
  float:left;
  padding-right:20px;
}

.voter p {
}

p.vote {
  margin:4px 0;
  padding:0;
  font-size:20px;
  font-weight:bold;
}

p.vote a {
  color:green;
  text-decoration: none;
}

.answer .body {
  margin: 20px 10%;
  line-height: 1.3em;
}

input, textarea {
  margin:5px 0;
}

.new-answer, .error {
  display:none;
}

.error {
  color:#a70000;
}

textarea {
  font-size:14px;
  font-family:sans-serif;
  width:80%;
  height:10em;
}
.tags {
  border-top: 1px dotted black;
  padding-top:5px;
}

button, input[type="submit"] {
  padding:6px 12px;
  background-color: #70b7e0;
  border:1px solid white;
  color:white;
}

input.question-title {
  width:60%;
}

.votetotal {
  color:gray;
  font-size: 14px;
  font-style:italic;
}

.surveylist {
  background-color: gray;
}

th {
  text-align:left;
}

td {
  width:30%;
  border-bottom:1px dotted gray;
}
/*
#3d82ab;
#ee5921;
#484848;
#3186ad;
#96c950;
#72a435;*/
