# Verificar que sea post, y que tenga el atributo enctype
<form method="post" enctype='multipart/form-data' action="/upload">
  # Verificar que name corresponda al nombre/campo del modelo
  <input type='file' name='photo[photo]'>
  <br/>
  <input type='submit' value='Upload!'>
</form>
