  <h1>Abuelita Sordita</h1>

  <form action="/abuelita" method="post">
    Dile algo a tu abuelita:
    <br>
    <input type="text" name="user_input">
    <input type="submit" value="Dilo!">
  </form>

  <div id="response">

  </div>
