body {
  font-family:Lato;
  background-color: #3d82ab;
}

.container {
  margin: 20px auto;
  width: 720px;
  padding: 0px 20px 20px 20px;
}

th {
  text-align: left;
}

h1 {
  border: 2px solid black;
  padding:20px;
  background-color:white;
}

.entry h3 {
  text-align:center;
}

h3 a {
  text-decoration: none;
  color:black;
}

form, .entry {
  width:80%;
  margin: 20px auto;
  padding:5px 30px;
  border: 5px solid #ee5921;
  border-radius:5px;
  background-color:white;
  font-size: 1.2em;
}

input {
  margin-top:10px;
}

textarea {
  margin-top:10px;
  width:80%;
  height:10em;
}
.tags {
  border-top: 1px dotted black;
  padding-top:5px;
}
/*
#3d82ab;
#ee5921;
#484848;
#3186ad;
#96c950;
#72a435;*/
