  <h1>Quora!</h1>
<% for question in @questions %>
  <%= erb :_displayquestion, locals: { :question => question } %>
<% end %>
<% if !session['user_id'] %>
<%= erb :_nouser %>
<% else %>
<p><a href="/signout">Sign out</a></p>
<% end %>
